<?php

# Define supported layers, the first being a fallback
$layers = array (
	'mapnik' => 'http://(a|b|c).tile.openstreetmap.org',					// e.g. http://a.tile.openstreetmap.org/16/32752/21788.png
	'opencyclemap' => 'http://(a|b|c).tile.opencyclemap.org/cycle',					// e.g. http://a.tile.opencyclemap.org/cycle/18/128676/81699.png
	'simple' => 'http://(a|b|c).tile.cloudmade.com/<cloudmadekey>/27911/256',			// e.g. http://a.tile.cloudmade.com/<cloudmadekey>/997/256/18/128676/81699.png
	'cyclestreets' => 'http://www.cyclestreets.net/tiles/cyclestreets',                             // e.g. http://www.cyclestreets.net/tiles/cyclestreets/16/32792/21588.png
);

# Other parameters
$expiryDays = 14;
$userAgent = "CycleStreets tilecache at http://{$_SERVER['SERVER_NAME']}/ Contact: http://www.cyclestreets.net/contacts/";
