<?php

# Define supported layers, the first being a fallback
$layers = array (
	'mapnik' => 'http://(a|b|c).tile.openstreetmap.org',			// e.g. http://a.tile.openstreetmap.org/16/32752/21788.png
	'opencyclemap' => 'https://(a|b|c).tile.thunderforest.com/cycle',		// e.g. https://a.tile.thunderforest.com/cycle/18/128676/81699.png
	'outdoors' => 'https://(a|b|c).tile.thunderforest.com/outdoors',		// e.g. https://a.tile.thunderforest.com/outdoors/18/128676/81699.png
	'osopendata' => 'http://os.openstreetmap.org/sv',			// e.g. http://os.openstreetmap.org/sv/18/128676/81699.png

	// Use your cyclestreets server here as an alternative to localhost
	// 'cyclestreets' => 'http://localhost/tiles/cyclestreets',	// e.g. http://localhost/tiles/cyclestreets/16/32792/21588.png
);

## Other parameters

# How long tiles are kept before being considered stale
$expiryDays = 14;

# The hour (out of 24) in which clearout of stale tiles from the cache can be triggered
$garabageCollectionHour = 3;

# User agent
$userAgent = "CycleStreets tilecache at http://{$_SERVER['SERVER_NAME']}/ Contact: http://www.cyclestreets.net/contacts/";

# Fallback handling - if omitted, the first $layer will be used
$fallback = array (
        // 'from' => 'to',
);

# Timeout for tile requests before fallback is tried
$timeout = 10;

# Supported scales
$scales = array (1, 1.5, 2, 3, );

# Servers supporting native retina tiles
$nativeRetinaTiles = array (
	'opencyclemap' => array (2, ),	// e.g. https://a.tile.thunderforest.com/cycle/18/128676/81699@2x.png
	'outdoors' => array (2, ),	// e.g. https://a.tile.thunderforest.com/outdoors/18/128676/81699@2x.png
);
